* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: silver;
  padding: 20px;
}

#input {
    height: 40px;
    width: 500px;
    border: 2px solid teal;
    font-size: 20px;
    padding-left: 5px;
}

#create_button{
    width: 200px;
    height: 40px;
    border: 2px solid teal;
    font-size: 22px;
    cursor: pointer;
    background-color:rgba(0, 0, 2, 0.318);
}

.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}

#todo_list{
    margin: 0 auto;
    width: 750px;
}

.block_text{
    width: 100%;
    border: 2px solid teal;
    padding: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

h3{
    font-size: 30px;
    font-family: monospace,sans-serif; 
}

.delete_button{
    width: 150px;
    height: 40px;
    border:2px solid teal;
    background: red;
    font-size: 22px;
    color: aliceblue;
    cursor: pointer;
    margin-right: 10px;
}

.edit_button{
    width: 150px;
    height: 40px;
    border:2px solid teal;
    background: yellow;
    font-size: 22px;
    color: black;
    cursor: pointer;
}
.divsButton{
    display: flex;
    justify-content: space-between;
    width: 300px;
}